body {
    background-color: #1e1e1e;
    color: #EFEFEF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.titulo__inicio {
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-family: Helvetica;
}

.input-group input {
    width: 100%;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 10px 10px 25px; 
    background-color: transparent;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
    border-color: rgba(255, 255, 255, 0.5); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); 
}

.input-group .icon {
    position: absolute;
    right: 25px; 
    top: 50%;
    font-size: 24px;
    color: #fff;
    pointer-events: none; /* Impede que o ícone interfira na interação com o input */
}

.password-page button {
    display: inline-block;
    padding: 0.5rem 1rem;
    width: 50%;
    margin-left: 26%;
    border-radius: 10rem;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(20, 80, 0);
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem; 
    letter-spacing: 0.1rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.password-page button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 80, 0);
    border-radius: 10rem;
    z-index: -2;
}

.password-page button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(18, 172, 18);
    transition: all 0.4s;
    border-radius: 10rem;
    z-index: -1;
}

.password-page button:hover {
    color: #000000;
}

.password-page button:hover::before {
    width: 100%;
}

.password-page .form-card {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    padding-bottom: 2.9rem;
    background-color: #252525;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-container .photo{
    cursor: pointer;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}