body {
    background-color: #1e1e1e; /* Cor de fundo uniforme para todo o body */
    color: #EFEFEF; /* Cor do texto padrão */
    font-family: 'Poppins', sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão do body */
}

.header-container .photo {
    padding: 3rem;
}

.login-page .Forgot-passowrd {
    text-align: end;
    color: #A4A4A4;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.login-page .form-card {
    width: 100%; /* Largura total do cartão */
    max-width: 800px; /* Limite de largura do cartão */
    margin: auto; /* Centraliza o cartão horizontalmente */
    padding: 2rem; /* Adiciona espaçamento interno */
    padding-bottom: 2.9rem;
    background-color: #252525; /* Cor de fundo do cartão */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

.form-card h1 {
    color: #FFFFFF; /* Cor do título */
    margin: 0; /* Remove a margem padrão do h1 */
    padding-top: 1.5rem; /* Remove o preenchimento padrão do h1 */
    font-size: 2rem; /* Ajuste o tamanho da fonte conforme necessário */
}

.form-card p {
    color: #A4A4A4; /* Cor do parágrafo */
    margin: 0; /* Remove a margem do parágrafo */
    padding: 0; /* Remove o preenchimento padrão do parágrafo */
    font-size: 1rem;
    padding-bottom: 1rem; /* Ajuste o tamanho da fonte conforme necessário */
}

.input-group {
    padding-bottom: 0.5rem;
}

.login-page .login {
    padding-top: 1.5rem;
    color: #A4A4A4; /* Cor do texto do link */
}

.login-page .login a {
    color: #A4A4A4; /* Cor do link */
    text-decoration: none; /* Remove sublinhado do link */
}

.login-page .login a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}