body {
    background-color: #1e1e1e;
    color: #EFEFEF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header-container .photo {
    padding: 3rem;
}

.titulo__inicio {
    color: #FFFFFF;
    margin: 0;
    padding-top: 1.5rem;
    font-size: 2rem;
}

.paragrafo__inicio {
    color: #A4A4A4;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    padding-bottom: 1rem;
}


.login-page .forgot-password {
    padding-bottom: 1.2rem;
    color: #A4A4A4;
    text-align: end;
}

.login-page .forgot-password a {
    color: #ffffff;
    text-decoration: none;
}

.login-page .forgot-password a:hover {
    text-decoration: underline;
}


.login-page .form-card {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    padding-bottom: 2.9rem;
    background-color: #252525;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label{ /*mexe global*/
    color: #EFEFEF;
}

.input-group {
    padding-bottom: 0rem;
}

.login-page .register {
    padding-top: 1.5rem;
    color: #A4A4A4;
    text-align: center;
}

.login-page .register a {
    color: #ffffff;
    text-decoration: underline;
}

.login-page .register a:hover {
    text-decoration: none;
}
